@import url(reset.css);
/* @import url(fontawesome/fontawesome-free-6.2.0-web/css/all.min.css); */
@import url(header/header.css);
@import url(main/main.css);

:root{
    --preto-fosco: #232730;
    --bege-claro: #F8D7A4;
    --bege-mais-escuro: #A55C30;
    --bege-escuro: #C7763E;
    --azul-escuro: #19314B;
    --branco: #ffffff;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.card{
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}