#about{
    margin-top: 25px;
}

.container--about{
    width: 95%;
    margin: 0 auto;
}

.about--imagem{
    background-image: url(/img/pessoa-dirigindo-carro.jpg);
    width: 100%;
    height: 272px;
}